.cards {
  display: flex;
  justify-content: left; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 80vh; /* Esto asegura que la tarjeta esté centrada verticalmente en la página */
  margin: 5rem 0 0 22rem;
  border-radius: 10%;
  box-shadow: 5% solid black;
}

.boxx{
  height: 400; 
  width: 80rem; 
  color: black;
  margin: 5rem 18rem;
}

.caja{
  box-shadow: 24px 0px 13px -4px rgba(0,0,0,0.1);
  display: flexbox;
  justify-content: left; /* Centra horizontalmente */
  justify-items: center;
  align-content: center;
  align-items: center;
  border-radius: 1rem;
  height: 26rem;
  width: 26rem;
}

.pad{
  margin: 15rem 45rem
}

